<router-outlet></router-outlet>
<h1 class="centered-text">Ordered lectures</h1>
<hr/>

<h2 class="centered-text">The basics</h2>
<app-the-basics></app-the-basics>

<h2 class="centered-text">Components & Data binding</h2>
<app-components-databinding></app-components-databinding>

<h2 class="centered-text">Directives</h2>
<app-directives></app-directives>

<h2 class="centered-text">Services</h2>
<app-services></app-services>

<h2 class="centered-text">Routing</h2>
<app-routing></app-routing>

<h2 class="centered-text">Observables</h2>
<app-observables></app-observables>

<h2 class="centered-text">Forms - Template Driven</h2>
<app-forms-template-driven></app-forms-template-driven>

<h2 class="centered-text">Forms - Reactive</h2>
<app-forms-reactive></app-forms-reactive>

<h2 class="centered-text">Pipes</h2>
<app-pipes></app-pipes>

<h2 class="centered-text">HTTP</h2>
<app-http></app-http>

<!-- <h2 class="centered-text">Unit Tests</h2>
<app-unit-tests></app-unit-tests> -->

<h2 class="centered-text">Animations</h2>
<app-animations></app-animations>



<h1 class="centered-text">Assignments</h1>
<hr/>

<h2 class="centered-text">Assignment 1</h2>
<app-assignment-1></app-assignment-1>

<h2 class="centered-text">Assignment 2</h2>
<app-assignment-2></app-assignment-2>

<h2 class="centered-text">Assignment 3</h2>
<app-assignment-3></app-assignment-3>

<h2 class="centered-text">Assignment 4</h2>
<app-assignment-4></app-assignment-4>

<h2 class="centered-text">Assignment 5</h2>
<app-assignment-5></app-assignment-5>

<h2 class="centered-text">Assignment 6</h2>
<app-assignment-6></app-assignment-6>

<h2 class="centered-text">Assignment 7</h2>
<app-assignment-7></app-assignment-7>

<h2 class="centered-text">Assignment 8</h2>
<app-assignment-8></app-assignment-8>



<h1 class="centered-text">The Project</h1>
<hr/>
<div class="centered-text"><a href="/the-project">HERE</a></div>